/* @override http://localhost:3000/stylesheets/print.css */

/* Hidden Stuff */

#navigation, .paginaton, .button, .hide_on_print {
	display: none;
}

/* Body */

body {
	font: 10px/14px Arial, Helvetica, Geneva, sans-serif;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1em;
}

h1 { font-size: 34px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

/* Layout */

.clear {
	clear: both;
}

#header {
	margin-top: 10px;
}

#header h1 {
	margin-bottom: 0;
}

hr {
	border: 1px solid #d5d5d5;
}

hr.pad {
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Type */

p, table, ul, ol {
	margin-bottom: 10px;
}

.strong {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}

.smallprint {
	font-size: smaller;
}

/* Tables */

table {
	width: 100%;
	text-align: center;
}

table thead {
	border-bottom: 3px solid #d5d5d5;
}

table thead th {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	text-transform: capitalize;
	padding: 5px;
}

table td {
	padding: 5px;
	vertical-align: top;
}

table tbody tr {
	border-bottom: 1px solid #d5d5d5;
}

table tbody tr.even {
	color: #797979;
}

table.noborder tr, table.noborder th, table.noborder td,
tr.noborder, th.noborder, td.noborder {
	border: none;
}

table.nopadding tr, table.nopadding th, table.nopadding td,
tr.nopadding, th.nopadding, td.nopadding {
	padding: 0;
}

table.padding tr, table.padding th, table.padding td,
tr.padding, th.padding, td.padding {
	padding: 7px;
}

table.border tr, tr.border {
	border-bottom: 1px solid #d5d5d5;
}

th.left, td.left {
	text-align: left;
}

th.right, td.right {
	text-align: right;
}
