.grid_6
  %ul
    %p
      w00t

.grid_6
  %h3= 'Customer Management'
  %p= link_to 'view all customers', customers_path, :class => 'button view_customers'
  %p= link_to 'add a new customer', new_customer_path, :class => 'button new_customer'
